@using Bibliotech.Base;
@using Bibliotech.Models;

@{
    ViewBag.Action = "Início";
}

<h1>Bem vindo(a) ao Bibliotech!</h1>
<hr>

@if (Functions.GetCurrentUser().Perfil == Perfil.Padrao)
{
    @Html.Partial("~/Views/Shared/CardsUsuario.cshtml")
}
else
{
    @Html.Partial("~/Views/Shared/CardsStaff.cshtml")
}
 