@using Bibliotech.Models

@{
    ViewBag.Title = "Entrar";
    Layout = "~/Views/Account/_LayoutLogin.cshtml";
}

@model Tuple<Usuario, string>

<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        @using (Ajax.BeginForm("SignIn", "Account", null,
                            new AjaxOptions { HttpMethod = "post", OnSuccess = "sucesso", OnFailure = "falha" }, new { id = "myFormLogin", @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Item1.Login, new { @for="Login" })
                @*@Html.TextBoxFor(x => x.Item1.Login, new { @type="text", @class = "form-control", @id="Login", @name="Login" })*@
                @*<label for="exampleInputEmail1">Email address</label>*@
                <input class="form-control" id="Login" name="Login" type="text" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Item1.Senha, new { @for = "Senha" })
                @*@Html.TextBoxFor(x => x.Item1.Senha, new { @type = "password", @class = "form-control" })*@
                @*<label for="exampleInputPassword1">Password</label>*@
                <input class="form-control" id="Senha" name="Senha" type="password">
            </div>
            <input class="btn btn-primary btn-block" value="Entrar" type="submit" />
        }
        <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
    </div>
</div>
